
table {
    width: 100%; 
    border-collapse: collapse; 
}

table th, table td {
    border: 1px solid #ccc; 
    padding: 5px; 
    text-align: center; 
}

thead {
    background-color: #fff; 
    color: black; 
    font-weight: bold; 
}

thead td {
    padding: 15px; 
}

tbody tr:hover {
    background-color: #f2f2f2; 
}

/*  check box */
#checkbox{
    cursor: pointer;
}